@page
@model WritingIdeas.Pages.Ideas.UpdateModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Idea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idea.OwnerID" class="control-label"></label>
                <input asp-for="Idea.OwnerID" class="form-control" />
                <span asp-validation-for="Idea.OwnerID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Idea.Id" />
            <div class="form-group">
                <label asp-for="Idea.Title" class="control-label"></label>
                <input asp-for="Idea.Title" class="form-control" />
                <span asp-validation-for="Idea.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idea.Contents" class="control-label"></label>
                <input asp-for="Idea.Contents" class="form-control" />
                <span asp-validation-for="Idea.Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
